.sectionTop {
	padding: 40px 0 150px;
}

.inner {
	position: relative;
}

.content {
	width: 380px;
	padding: 150px 0 250px;
}

.title {
	font-size: 30px;
	font-family: 'Yeseva One', cursive;
	margin-bottom: 15px;
	font-weight: 400;
}

.text {
	margin-bottom: 48px;
}

.buy {
	padding: 18px 54px;
}

.top_img {
	position: absolute;
	top: 0;
	left: 240px;
}

@media (max-width: 1000px) {
	.content {
		width: 333px;
		padding: 95px 0 70px;
	}

	.top_img {
		left: 280px;
	}

	.img_active {
		width: 655px;
	}

	.text {
		margin-bottom: 30px;
	}
}

@media (max-width: 768px) {
	.content {
		width: 230px;
		padding: 95px 0 70px;
	}

	.title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.text {
		font-size: 10px;
		margin-bottom: 20px;
	}

	.top_img {
		left: 180px;
	}
}

@media (max-width: 480px) {
	.img_active {
		width: 309px;
	}

	.content {
		width: 180px;
	}

	.title {
		font-size: 15px;
		margin-bottom: 15px;
	}

	.text {
		font-size: 8px;
		margin-bottom: 15px;
	}

	.buy {
		font-size: 10px;
		padding: 14px 41px;
	}

	.sectionTop {
		padding: 30px 0 50px;
	}

	.top_img {
		left: 168px;
	}
}

@media (max-width: 360px) {
	.img_active {
		width: 140px;
	}

	.content {
		width: 233px;
		padding: 20px 0 0;
		position: relative;
		z-index: 1;
	}

	.title {
		font-size: 18px;
	}

	.text {
		font-size: 10px;
	}

	.top_img {
		left: auto;
		right: 0;
	}
}