.footer {
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 35px;
}

.footer_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_list {
	display: flex;
	gap: 20px;
}

.menu_list_item>a {
	text-transform: uppercase;
}

.contacts {
	display: flex;
	flex-direction: column;
	width: 230px;
}

.social {
	display: flex;
	gap: 15px;
}

.email {
	padding: 16px 0px;
}

@media (max-width: 900px) {
	.footer_inner {
		flex-wrap: wrap;
	}

	.contacts {
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}

	.social {
		justify-content: center;
	}
}

@media (max-width: 768) {
	.footer {
		font-size: 10px;
	}
}

@media (max-width: 500px) {
	.footer {
		font-size: 14px;
		padding: 50px 0px;
	}

	.footer_inner {
		flex-direction: column;
	}

	.menu_list {
		flex-direction: column;
		padding: 50px 0px;
	}

	.menu_list_item {
		text-align: center;
	}
}