.header {
	background-color: #FFF8F3;
}

.header_inner {
	padding-top: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_list {
	display: flex;
	gap: 20px;
}

.menu_list_item>a {
	text-transform: uppercase;
}

.menu_btn {
	display: none;
	width: 30px;
	height: 25px;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
}

.menu_btn span {
	height: 1px;
	width: 100%;
	background-color: #7B6152;
}

.phone {
	position: relative;
}

.phone_svg {
	position: absolute;
	width: 20px;
	height: 20px;
	left: -23px;
	top: -3px;
}



@media (max-width: 768px) {
	.header_inner {
		padding-top: 0px;
	}

	.phone_svg {
		top: -5px;
		left: -16px;
		transform: scale(0.7);
	}
}

@media (max-width: 640px) {
	.menu_list {
		width: 153px;
		background-color: #7B6152;
		color: #FFF8F3;
		flex-direction: column;
		gap: 20px 0px;
		padding: 25px 35px 25px 45px;
		position: absolute;
		left: 0;
		top: 0;
		transform: translateY(-110%);
		transition: transform 0.5s;
	}

	.menu_list.menu_open {
		transform: translateY(0);
	}

	.menu_btn {
		display: flex;
	}

	.menu {
		order: 1;
	}
}