.sectionSteps {
	padding-bottom: 150px;
}

.inner {
	display: grid;
	grid-template-columns: 370px auto;
}

.title {
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	font-weight: 400;
	color: #000;
	margin-bottom: 15px;
}

.content {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px 90px;
	padding-bottom: 92px;
	position: relative;
}

.content::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(shared/assets/images/section-decore.png);
	width: 22px;
	height: 30px;
}

.content::after {
	content: '';
	position: absolute;
	left: 22px;
	bottom: 10px;
	background-color: #7B6152;
	width: 1000%;
	height: 1px;
}

.content {
	gap: 70px 25px;
	counter-reset: number;
}

.content_item {
	display: flex;
	gap: 40px;
	list-style-type: none;
	position: relative;
}

.content_item::before {
	counter-increment: number;
	content: '0' counter(number);
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Yeseva One', cursive;
	font-size: 30px;
	color: #BEA495;
}

.content_item.content_item_even::before {
	left: auto;
	right: 0;
}

.content_item_text {
	max-width: 171px;
	padding-bottom: 40px;
}

.content_item:nth-child(n+10):before {
	content: counter(number);
}

@media(max-width: 1050px) {
	.inner {
		grid-template-columns: 300px auto;
	}

	.content {
		gap: 37px 35px;
	}

	.content_item {
		gap: 0 30px;
	}

	.content_item_text {
		max-width: 141px;
	}
}

@media(max-width: 980px) {

	.inner {
		grid-template-columns: 200px auto;
	}

	.title {
		font-size: 15px;
	}

	.descr_text {
		font-size: 10px;
	}

	.content {
		gap: 25px 35px;
	}

	.content_item {
		gap: 0 20px;
	}

	.content_item_text {
		font-size: 8px;
	}

	.content_item_img {
		width: 85px;
		object-fit: cover;
	}

	.content_item::before {
		font-size: 20px;
	}
}

@media(max-width: 640px) {
	.sectionSteps {
		padding-bottom: 50px;
	}

	.inner {
		grid-template-columns: auto;
	}

	.descr {
		width: 300px;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 30px;
	}

	.content {
		gap: 25px 40px;
	}
}

@media(max-width: 404px) {

	.content {
		gap: 20px 25px;
	}

	.content_item {
		gap: 0 16px;
	}

	.content_item_text {
		font-size: 6px;
	}

	.content_item::before {
		font-size: 12px;
	}

	.content_item_img {
		width: 66px;
	}

	.descr {
		padding-bottom: 25px;
	}

	.content {
		padding-bottom: 62px;
	}
}